* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin: 2% 9% 0% 9%;
  display: flex;
  flex-direction: column;
  height: 95vh; }

.dark-mode-body {
  background: linear-gradient(to top, #1e202a 70%, #1f212e 30%), #1e202a;
  background-repeat: no-repeat, repeat-y;
  color: white;
  font-size: 2.24vmin; }

.light-mode-body {
  background: linear-gradient(to top, white 70%, #f5f7ff 30%), white;
  background-repeat: no-repeat, repeat-y;
  color: #1e202a;
  font-size: 2.24vmin; }

.main__heading__first-line {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main__heading__section-name {
  font-weight: bold;
  font-size: 4vmin; }

.main__heading__dark-mode {
  padding-right: 12%;
  display: flex;
  align-items: center; }

.today-overview__header {
  font-weight: bold;
  font-size: 4vmin;
  padding-top: 3%;
  padding-left: 8%; }
  .today-overview__header.light-mode {
    color: #63687e; }

.main__heading {
  padding-bottom: 3%;
  padding-left: 8%; }

.main__heading__dark-mode__switch__toggle {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  background: linear-gradient(to right, #378fe6, #3eda82);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .main__heading__dark-mode__switch__toggle::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 2.5px;
    top: 2.04px;
    width: 15px;
    height: 15px;
    background-color: #252a41;
    border-radius: 10px;
    -webkit-transition: .4s;
    transition: .4s;
    transform: translateX(0); }
  .main__heading__dark-mode__switch__toggle:checked {
    background: #aeb3cb; }
    .main__heading__dark-mode__switch__toggle:checked:hover.light-mode {
      background: linear-gradient(to right, #378fe6, #3eda82); }
    .main__heading__dark-mode__switch__toggle:checked::after {
      transform: translateX(calc(100% + 60%));
      background-color: #fff; }

.social-media-card__profile:not(.light-mode), .overview-card__text:not(.light-mode),
.main__followers:not(.light-mode), .main__heading__dark-mode__text:not(.light-mode) {
  color: #8b97c6;
  font-size: 2.24vmin; }
.social-media-card__profile.light-mode, .overview-card__text.light-mode,
.main__followers.light-mode, .main__heading__dark-mode__text.light-mode {
  color: #63687e;
  font-size: 2.24vmin; }

.today-overview__section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.social-media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.social-media-card__social-network {
  display: flex;
  align-content: center;
  justify-content: center; }

.social-media-card__numbers {
  font-weight: 700;
  font-size: 3.5em; }

.social-media-card__followers {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.3em; }
  .social-media-card__followers:not(.light-mode) {
    color: #8b97c6;
    font-size: 2.24vmin; }
  .social-media-card__followers.light-mode {
    color: #63687e;
    font-size: 2.24vmin; }

.social-media-card_facebook {
  text-align: center;
  width: 15%;
  min-width: 160px;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 2%;
  border-top: 3px solid;
  border-radius: 5px;
  border-top-color: deepskyblue; }
  .social-media-card_facebook:not(.light-mode) {
    background-color: #252a41; }
  .social-media-card_facebook.light-mode {
    background-color: #f0f2fa; }
  .social-media-card_facebook:hover {
    cursor: pointer; }
    .social-media-card_facebook:hover:not(.light-mode) {
      background: #2e3552; }
    .social-media-card_facebook:hover.light-mode {
      background: #dde2f3; }

.social-media-card_twitter {
  text-align: center;
  width: 15%;
  min-width: 160px;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 2%;
  border-top: 3px solid;
  border-radius: 5px;
  border-top-color: #1ca0f2; }
  .social-media-card_twitter:not(.light-mode) {
    background-color: #252a41; }
  .social-media-card_twitter.light-mode {
    background-color: #f0f2fa; }
  .social-media-card_twitter:hover {
    cursor: pointer; }
    .social-media-card_twitter:hover:not(.light-mode) {
      background: #2e3552; }
    .social-media-card_twitter:hover.light-mode {
      background: #dde2f3; }

.social-media-card_instagram {
  text-align: center;
  width: 15%;
  min-width: 160px;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 2%;
  border-top: 3px solid;
  border-radius: 5px;
  border-top: 3px solid transparent; }
  .social-media-card_instagram:not(.light-mode) {
    background-color: #252a41; }
  .social-media-card_instagram.light-mode {
    background-color: #f0f2fa; }
  .social-media-card_instagram:not(.light-mode) {
    background: linear-gradient(#252a41, #252a41), linear-gradient(to right, #fdc468, #df4996);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box; }
  .social-media-card_instagram.light-mode {
    background: linear-gradient(#f0f2fa, #f0f2fa), linear-gradient(to right, #fdc468, #df4996);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box; }
  .social-media-card_instagram:hover {
    cursor: pointer; }
    .social-media-card_instagram:hover:not(.light-mode) {
      background: linear-gradient(#2e3552, #2e3552), linear-gradient(to right, #fdc468, #df4996);
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box; }
    .social-media-card_instagram:hover.light-mode {
      background: linear-gradient(#dde2f3, #dde2f3), linear-gradient(to right, #fdc468, #df4996);
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box; }

.social-media-card_youtube {
  text-align: center;
  width: 15%;
  min-width: 160px;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 2%;
  border-top: 3px solid;
  border-radius: 5px;
  border-top-color: #c4032a; }
  .social-media-card_youtube:not(.light-mode) {
    background-color: #252a41; }
  .social-media-card_youtube.light-mode {
    background-color: #f0f2fa; }
  .social-media-card_youtube:hover {
    cursor: pointer; }
    .social-media-card_youtube:hover:not(.light-mode) {
      background: #2e3552; }
    .social-media-card_youtube:hover.light-mode {
      background: #dde2f3; }

.today-overview__section__overview-card {
  border-radius: 5px;
  padding: 2%;
  width: 15%;
  min-width: 160px;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%; }
  .today-overview__section__overview-card:not(.light-mode) {
    background-color: #252a41; }
  .today-overview__section__overview-card.light-mode {
    background-color: #f0f2fa; }
  .today-overview__section__overview-card:hover {
    cursor: pointer; }
    .today-overview__section__overview-card:hover:not(.light-mode) {
      background-color: #2e3552; }
    .today-overview__section__overview-card:hover.light-mode {
      background-color: #dde2f3; }

.social-media-card__stats,
.today-overview__section__overview-card__stats {
  display: flex;
  align-items: center;
  padding-top: 2%;
  justify-content: center; }

.social-media-card__stats {
  margin-top: 10%; }

.social-media-card__followers-up, .overview-card__persent-up {
  color: #1db489;
  font-size: 2.24vmin; }

.social-media-card__followers-down, .overview-card__persent-down {
  color: #dc414c;
  font-size: 2.24vmin; }

.today-overview__section__overview-card__first-line,
.today-overview__section__overview-card__second-line {
  display: flex;
  align-items: center;
  padding-top: 2%;
  justify-content: space-between; }

.overview-card__numbers {
  font-size: 2.2em; }

.footer {
  height: 5vh;
  font-size: 11px;
  text-align: center; }

.footer a {
  color: #3e52a3; }
