* {
  margin: 0;
  padding: 0; }

html {
  font-size: 14px; }

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column; }

header {
  margin-bottom: 30px;
  padding: 50px 20px 0; }
  header:not(.light-mode) {
    background-color: #1f212e; }
  header.light-mode {
    background-color: #f5f7ff; }

.footer {
  font-size: 1rem;
  text-align: center;
  padding-top: 30px;
  position: relative;
  top: -50px; }

.footer a {
  color: #3e52a3; }

@media screen and (min-width: 1118px) {
  .main__heading, .social-media {
    max-width: 1118px;
    margin: 0 auto; } }
@media all and (max-width: 1117px) and (min-width: 1010px) {
  .main__heading, .social-media {
    max-width: 1010px;
    margin: 0 auto; } }

@media all and (max-width: 1009px) {
  .main__heading__dark-mode {
    position: initial;
    justify-content: space-between; } }

@media screen and (min-width: 1118px) {
  .today-overview {
    max-width: 1118px;
    margin: 0 auto; } }
@media all and (max-width: 1117px) and (min-width: 1010px) {
  .today-overview {
    max-width: 1010px;
    margin: 0 auto; } }

@media all and (max-width: 1009px) {
  .main__followers {
    margin-bottom: 20px;
    padding-bottom: 20px; }
    .main__followers:not(.light-mode) {
      border-bottom: 1px #8b97c6 solid; }
    .main__followers.light-mode {
      border-bottom: 1px #63687e solid; } }

@media all and (min-width: 1118px) {
  .social-media-card_facebook:not(:first-child),
  .social-media-card_twitter:not(:first-child),
  .social-media-card_instagram:not(:first-child),
  .social-media-card_youtube:not(:first-child) {
    margin-left: 30px; } }
@media all and (max-width: 1117px) and (min-width: 1010px) {
  .social-media-card_facebook,
  .social-media-card_twitter,
  .social-media-card_instagram,
  .social-media-card_youtube {
    flex-basis: 400px; }
    .social-media-card_facebook:not(:first-child),
    .social-media-card_twitter:not(:first-child),
    .social-media-card_instagram:not(:first-child),
    .social-media-card_youtube:not(:first-child) {
      margin-left: 30px; }
    .social-media-card_facebook:nth-child(3),
    .social-media-card_twitter:nth-child(3),
    .social-media-card_instagram:nth-child(3),
    .social-media-card_youtube:nth-child(3) {
      margin-left: 0; } }
@media all and (max-width: 1009px) {
  .social-media-card_facebook,
  .social-media-card_twitter,
  .social-media-card_instagram,
  .social-media-card_youtube {
    margin-left: 0;
    flex-basis: 1000px; } }

@media screen and (min-width: 1118px) {
  .today-overview__section__overview-card:not(:first-child) {
    margin-left: 30px; }
  .today-overview__section__overview-card:nth-child(5) {
    margin-left: 0; } }
@media all and (max-width: 1117px) and (min-width: 1010px) {
  .today-overview__section__overview-card {
    flex-basis: 400px; }
    .today-overview__section__overview-card:not(:first-child) {
      margin-left: 30px; }
    .today-overview__section__overview-card:nth-child(2n+1) {
      margin-left: 0; } }
@media all and (max-width: 1009px) {
  .today-overview__section__overview-card {
    margin-left: 0;
    flex-basis: 1000px; } }

.dark-mode-body {
  color: white;
  font-size: 1rem;
  font-weight: 400; }

.light-mode-body {
  color: #1e202a;
  font-size: 1rem;
  font-weight: 400; }

.main__heading__section-name {
  font-size: 1.63rem; }

.social-media-card__profile:not(.light-mode), .overview-card__text:not(.light-mode),
.main__followers:not(.light-mode), .main__heading__dark-mode__text:not(.light-mode) {
  color: #8b97c6;
  font-size: 1rem;
  font-weight: bold; }
.social-media-card__profile.light-mode, .overview-card__text.light-mode,
.main__followers.light-mode, .main__heading__dark-mode__text.light-mode {
  color: #63687e;
  font-size: 1rem;
  font-weight: bold; }

.today-overview__header {
  font-size: 1.63rem; }

.social-media-card__numbers {
  font-weight: bold;
  font-size: 3.5rem; }

.social-media-card__followers {
  text-transform: uppercase;
  letter-spacing: 0.3rem; }
  .social-media-card__followers:not(.light-mode) {
    color: #8b97c6;
    font-size: 1rem;
    font-weight: 400; }
  .social-media-card__followers.light-mode {
    color: #63687e;
    font-size: 1rem;
    font-weight: 400; }

.social-media-card__followers-up, .overview-card__persent-up {
  color: #1db489;
  font-size: 1rem;
  font-weight: bold; }

.social-media-card__followers-down, .overview-card__persent-down {
  color: #dc414c;
  font-size: 1rem;
  font-weight: bold; }

.overview-card__numbers {
  font-weight: bold;
  font-size: 2rem; }

.dark-mode-body {
  background-color: #1e202a; }

.light-mode-body {
  background-color: white; }

.main__heading__dark-mode {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.main__heading__dark-mode {
  padding-bottom: 130px;
  position: relative;
  top: -15px; }

.main__heading__dark-mode__switch__toggle {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  background: linear-gradient(to right, #378fe6, #3eda82);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .main__heading__dark-mode__switch__toggle::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 2.5px;
    top: 2.04px;
    width: 15px;
    height: 15px;
    background-color: #252a41;
    border-radius: 10px;
    -webkit-transition: .4s;
    transition: .4s;
    transform: translateX(0); }
  .main__heading__dark-mode__switch__toggle:checked {
    background: #aeb3cb; }
    .main__heading__dark-mode__switch__toggle:checked::after {
      transform: translateX(calc(100% + 60%));
      background-color: #fff; }

.today-overview {
  position: relative;
  top: -150px;
  padding: 55px 20px 0;
  display: flex;
  flex-direction: column; }

.today-overview__section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.social-media {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: -125px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.social-media-card__social-network {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px; }
  .social-media-card__social-network img {
    margin-right: 8px; }

.social-media-card_facebook {
  text-align: center;
  width: 15%;
  min-width: 160px;
  padding: 20px 30px;
  margin-bottom: 30px;
  border-color: 3px;
  border-top-width: 4px;
  border-top-style: solid;
  border-radius: 5px;
  border-top-color: #198ff5; }
  .social-media-card_facebook:not(.light-mode) {
    background-color: #252a41; }
  .social-media-card_facebook.light-mode {
    background-color: #f0f2fa; }
  .social-media-card_facebook:hover {
    cursor: pointer; }
    .social-media-card_facebook:hover:not(.light-mode) {
      background: #2e3552; }
    .social-media-card_facebook:hover.light-mode {
      background: #dde2f3; }

.social-media-card_twitter {
  text-align: center;
  width: 15%;
  min-width: 160px;
  padding: 20px 30px;
  margin-bottom: 30px;
  border-color: 3px;
  border-top-width: 4px;
  border-top-style: solid;
  border-radius: 5px;
  border-top-color: #1ca0f2; }
  .social-media-card_twitter:not(.light-mode) {
    background-color: #252a41; }
  .social-media-card_twitter.light-mode {
    background-color: #f0f2fa; }
  .social-media-card_twitter:hover {
    cursor: pointer; }
    .social-media-card_twitter:hover:not(.light-mode) {
      background: #2e3552; }
    .social-media-card_twitter:hover.light-mode {
      background: #dde2f3; }

.social-media-card_instagram {
  text-align: center;
  width: 15%;
  min-width: 160px;
  padding: 20px 30px;
  margin-bottom: 30px;
  border-color: 3px;
  border-top-width: 4px;
  border-top-style: solid;
  border-radius: 5px;
  border-top: 3px solid transparent; }
  .social-media-card_instagram:not(.light-mode) {
    background-color: #252a41; }
  .social-media-card_instagram.light-mode {
    background-color: #f0f2fa; }
  .social-media-card_instagram:not(.light-mode) {
    background-image: linear-gradient(#252a41, #252a41), linear-gradient(to right, #fdc468, #df4996);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box; }
  .social-media-card_instagram.light-mode {
    background-image: linear-gradient(#f0f2fa, #f0f2fa), linear-gradient(to right, #fdc468, #df4996);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box; }
  .social-media-card_instagram:hover {
    cursor: pointer; }
    .social-media-card_instagram:hover:not(.light-mode) {
      background-image: linear-gradient(#2e3552, #2e3552), linear-gradient(to right, #fdc468, #df4996);
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box; }
    .social-media-card_instagram:hover.light-mode {
      background-image: linear-gradient(#dde2f3, #dde2f3), linear-gradient(to right, #fdc468, #df4996);
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box; }

.social-media-card_youtube {
  text-align: center;
  width: 15%;
  min-width: 160px;
  padding: 20px 30px;
  margin-bottom: 30px;
  border-color: 3px;
  border-top-width: 4px;
  border-top-style: solid;
  border-radius: 5px;
  border-top-color: #c4032a; }
  .social-media-card_youtube:not(.light-mode) {
    background-color: #252a41; }
  .social-media-card_youtube.light-mode {
    background-color: #f0f2fa; }
  .social-media-card_youtube:hover {
    cursor: pointer; }
    .social-media-card_youtube:hover:not(.light-mode) {
      background: #2e3552; }
    .social-media-card_youtube:hover.light-mode {
      background: #dde2f3; }

.today-overview__section__overview-card {
  border-radius: 5px;
  padding: 20px 30px;
  width: 15%;
  margin-top: 20px; }
  .today-overview__section__overview-card:not(.light-mode) {
    background-color: #252a41; }
  .today-overview__section__overview-card.light-mode {
    background-color: #f0f2fa; }
  .today-overview__section__overview-card:hover {
    cursor: pointer; }
    .today-overview__section__overview-card:hover:not(.light-mode) {
      background-color: #2e3552; }
    .today-overview__section__overview-card:hover.light-mode {
      background-color: #dde2f3; }

.social-media-card__stats,
.today-overview__section__overview-card__stats {
  display: flex;
  align-items: center;
  justify-content: center; }

.social-media-card__stats {
  margin-top: 25px; }

.social-media-card__followers-up, .overview-card__persent-up {
  margin-left: 4px; }

.social-media-card__followers-down, .overview-card__persent-down {
  margin-left: 4px; }

.today-overview__section__overview-card__first-line,
.today-overview__section__overview-card__second-line {
  display: flex;
  align-items: center;
  justify-content: space-between; }
