@mixin text-characteristics ($color, $font-weight:400, $font-size:1rem){
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin social-media-card ($top-border-color, $gradient:false) {
  
  &:not(.light-mode){
    background-color: $card-background-dark;
  }
  &.light-mode{
    background-color: $card-background-light;
  }

  text-align: center;
  width: $card-width;
  min-width: 160px;
  padding: 20px 30px;
  margin-bottom: 30px;

  border-color: $border;
  border-top-width: 4px;
  border-top-style: solid;
  border-radius: 5px;

  @media all and (min-width: 1118px){
    &:not(:first-child){
      margin-left: 30px;
    }
  }

  @media all and (max-width: 1117px) and (min-width: 1010px){  
    &:not(:first-child){
      margin-left: 30px;
    }

    &:nth-child(3){
      margin-left: 0;
    }

    flex-basis: 400px;
  }

  @media all and (max-width: 1009px){  
    margin-left: 0;

    flex-basis: 1000px;
  }
  
  @if $gradient == false {
    border-top-color: $top-border-color;
  }
  @else{
    border-top: $border solid transparent;
    &:not(.light-mode){
      @include instagram($card-background-dark);
    }
    &.light-mode{
      @include instagram($card-background-light);
    }
    
  }

  &:hover{
    cursor: pointer;

    @if $gradient == false {
      &:not(.light-mode){
        background: lighten($card-background-dark, 5%);
      }
      &.light-mode{
        background: darken($card-background-light, 5%);
      }
    }
    @else{
      &:not(.light-mode){
        @include instagram(lighten($card-background-dark, 5%));
      }
      &.light-mode{
        @include instagram(darken($card-background-light, 5%));
      }
    }
  }
}

@mixin stats($justify-content:center) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

@mixin instagram($color) {
  background: linear-gradient($color, $color), $gradient-color;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}